@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Sora', sans-serif;
    line-height: 1.2;
    letter-spacing: normal;
    font-weight: 400;
    color: var(--font-color-gray);
    background-color: var(--background-color);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--background-scrool-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-hover-primary);
}

:root {
    --background-scrool-color: #f1f1f1;
    --primary-color: #012a4a;
    --color-hover-primary: #013a63;
    --color-hover-button: #06da06;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    -webkit-user-drag: none;
    object-fit: contain;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: var(--background-primary);
    background: #012a4a;

    h1 {
        color: #fff;
        font-size: 60px;
    }

    label {
        margin-bottom: -15px;
        width: 100%;
        max-width: 400px;
        text-align: left;
        color: #fff;
    }

    input {
        min-height: 45px;
        width: 100%;
        max-width: 400px;
        background: #fff;
        border-radius: 8px;
        border: none;
        box-shadow: none;
        outline: none;
        font-size: 24px;
        font-weight: 600;
        color:#202020;
        padding: 0px 15px;
    }

    button,
    a {
        min-height: 40px;
        border-radius: 8px;
        width: 100%;
        max-width: 150px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #fff;
        background: #080;
        transition: all 0.5s;
        border: none;

        &:hover {
            background: var(--color-hover-button);
            cursor: pointer;
        }
    }

    .container-buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 100%;

        button {
            max-width: 120px;
        }
    }
}